<div class="min-h-screen grid grid-cols-1 md:grid-cols-2">
  <div class="flex flex-col items-center justify-center p-6 sm:p-12 bg-slate-50">

    <h1 class="text-3xl font-bold text-slate-800">مرحباً بعودتك!</h1>
    <p class="text-slate-500 mt-2 mb-6">سجل الدخول للوصول إلى لوحة التحكم الخاصة بك.</p>





    <form class="space-y-4 w-full" [formGroup]="loginForm" (ngSubmit)="onLogin()">

      <div>
        <label class="font-medium text-slate-700 block mb-1.5">
          البريد الإلكتروني
        </label>
        <input type="email" formControlName="email" placeholder="mohamed@gmail.com"
          class="w-full px-4 py-2.5 border rounded-lg">

        @if (f['email'].touched && f['email'].errors) {

        @if (f['email'].errors!['required']) {
        <div
          class="flex items-center p-2 my-1 text-sm text-red-800 rounded-lg bg-red-100  border border-red-200 transition-opacity"
          role="alert">
          <svg class="shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
            fill="currentColor" viewBox="0 0 20 20">
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
          </svg>
          <span class="sr-only">Info</span>
          <div>
            <span class="font-medium">
              البريد الإلكتروني مطلوب 
            </span>
          </div>
          
        </div>
        }
        @if (f['email'].errors['minlength']) {
        <div
          class="flex items-center p-2 my-1 text-sm text-red-800 rounded-lg bg-red-100  border border-red-200 transition-opacity"
          role="alert">
          <svg class="shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
            fill="currentColor" viewBox="0 0 20 20">
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
          </svg>
          <span class="sr-only">Info</span>
          <div>
            <span class="font-medium">
              صيغة البريد الإلكتروني غير صحيحة
            </span>
          </div>
        </div>
        }
        @if (f['email'].errors['maxlength']) {
        <div
          class="flex items-center p-2 my-1 text-sm text-red-800 rounded-lg bg-red-100  border border-red-200 transition-opacity"
          role="alert">
          <svg class="shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
            fill="currentColor" viewBox="0 0 20 20">
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
          </svg>
          <span class="sr-only">Info</span>
          <div>
            <span class="font-medium">
              البريد الالكترونى يجب ألا يقل عن 5 أحرف ولا تزيد عن 50

            </span>
          </div>
        </div>
        }


        }

      </div>



      <div>




        <div class="relative">
          <div class="flex justify-between items-center mb-1.5">
            <label class="font-medium text-slate-700">
              كلمة المرور
            </label>

            <a routerLink="/password/forgot-password" class="text-sm font-semibold text-emerald-600 hover:underline">
              هل نسيت؟
            </a>
          </div>
          <input [type]="showPassword() ? 'text' : 'password'" formControlName="password"
            class="w-full px-4 py-2.5 border rounded-lg">

          <!-- زر إظهار / إخفاء كلمة المرور -->
          <button type="button" (click)="showPassword.set(!showPassword())"
            class="absolute inset-y-0 left-0 px-3 top-7 flex items-center text-slate-500">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-5 h-5">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
              <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
            </svg>
          </button>
        </div>

        @if (f['password'].touched && f['password'].errors) {

        @if (f['password'].errors!['required'] || f['password'].touched) {
        <div
          class="flex items-center p-2 my-1 text-sm text-red-800 rounded-lg bg-red-100  border border-red-200 transition-opacity"
          role="alert">
          <svg class="shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
            fill="currentColor" viewBox="0 0 20 20">
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
          </svg>
          <span class="sr-only">Info</span>
          <div>
            <span class="font-medium">
              كلمة المرور مطلوبة
            </span>
          </div>
        </div>
        }
        @if (f['password'].errors['minlength']) {
        <div
          class="flex items-center p-2 my-1 text-sm text-red-800 rounded-lg bg-red-100  border border-red-200 transition-opacity"
          role="alert">
          <svg class="shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
            fill="currentColor" viewBox="0 0 20 20">
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
          </svg>
          <span class="sr-only">Info</span>
          <div>
            <span class="font-medium">
              كلمة المرور يجب أن تكون 8 أحرف على الأقل
            </span>
          </div>
        </div>
        }
        @if (f['password'].errors['maxlength']) {
        <div
          class="flex items-center p-2 my-1 text-sm text-red-800 rounded-lg bg-red-100  border border-red-200 transition-opacity"
          role="alert">
          <svg class="shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
            fill="currentColor" viewBox="0 0 20 20">
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
          </svg>
          <span class="sr-only">Info</span>
          <div>
            <span class="font-medium">
              كلمة المرور يجب أن لا يزيد عن 64 أحرف
            </span>
          </div>
        </div>
        }
        @if (f['password'].errors['pattern']) {
        <div
          class="flex items-center p-2 my-1 text-sm text-red-800 rounded-lg bg-red-100  border border-red-200 transition-opacity"
          role="alert">
          <svg class="shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
            fill="currentColor" viewBox="0 0 20 20">
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
          </svg>
          <span class="sr-only">Info</span>
          <div>
            <span class="font-medium">
              كلمة المرور يجب أن تحتوي على حرف كبير وحرف صغير ورقم ورمز خاص
            </span>
          </div>
        </div>
        }
        }


      </div>

      @if (serverError()) {
      <div class="text-red-600 text-sm text-center">
        {{ serverError() }}
      </div>
      }

      <button type="submit" [disabled]="isLoading()" class="w-full py-3 px-4 bg-slate-800 text-white font-semibold
           rounded-lg hover:bg-slate-900 transition-colors
           disabled:opacity-50">

        @if (!isLoading()) {
        تسجيل الدخول
        } @else {
        جارٍ التحميل...
        }
      </button>

      <p class="text-center text-sm text-slate-500 mt-6">
        ليس لديك حساب؟
        <button routerLink="/register" class="font-semibold text-emerald-600 hover:underline">
          إنشاء حساب
        </button>
      </p>

    </form>
  </div>

  <app-left-section-view></app-left-section-view>
</div>