<div class="min-h-screen grid grid-cols-1 md:grid-cols-2">
  <div class="flex flex-col items-center justify-center bg-slate-50">
    <div class="w-full max-w-md">
      <h1 class="text-3xl font-bold text-slate-800">تأكيد البريد الإلكتروني</h1>
      <p class="text-slate-500 mt-2 mb-6">أدخل الرمز المرسل إلى بريدك الإلكتروني</p>

      <form [formGroup]="otpForm" (ngSubmit)="submitOtp()" class="space-y-4">
        <div>
          <div class="flex justify-center items-center mb-2">
            <label for="otp" class="font-medium text-slate-700">رمز التحقق</label>
          </div>
          <div class="relative">
            <input type="text" id="otp" formControlName="otpCode"
              class="w-full py-2.5 px-4 bg-white border border-slate-300 rounded-lg focus:ring-2 focus:ring-emerald-500"
              placeholder="ادخل رمز التحقق">
          </div>
          <div class="text-red-500 text-sm mt-1"
            *ngIf="otpForm.get('otpCode')?.touched && otpForm.get('otpCode')?.invalid">
            @if (otpForm.get('otpCode')?.errors?.['required'] && otpForm.get('otpCode')?.touched) {
            <div
              class="flex items-center p-2 my-1 text-sm text-red-800 rounded-lg bg-red-100  border border-red-200 transition-opacity"
              role="alert">
              <svg class="shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                fill="currentColor" viewBox="0 0 20 20">
                <path
                  d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
              </svg>
              <span class="sr-only">Info</span>
              <div>
                <span class="font-medium">
                  الرجاء إدخال رمز التحقق. </span>
              </div>
            </div>

            }
            @if (otpForm.get('otpCode')?.errors?.['minlength'] ) {
            <div
              class="flex items-center p-2 my-1 text-sm text-red-800 rounded-lg bg-red-100  border border-red-200 transition-opacity"
              role="alert">
              <svg class="shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                fill="currentColor" viewBox="0 0 20 20">
                <path
                  d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
              </svg>
              <span class="sr-only">Info</span>
              <div>
                <span class="font-medium">
                  الرمز قصير جداً. </span>
              </div>
            </div>

            }
            @if (otpForm.get('otpCode')?.errors?.['maxlength'] ) {
            <div
              class="flex items-center p-2 my-1 text-sm text-red-800 rounded-lg bg-red-100  border border-red-200 transition-opacity"
              role="alert">
              <svg class="shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                fill="currentColor" viewBox="0 0 20 20">
                <path
                  d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
              </svg>
              <span class="sr-only">Info</span>
              <div>
                <span class="font-medium">
                  الرمز طويل جداً. </span>
              </div>
            </div>

            }

          </div>
        </div>

        <button type="submit"
          class="w-full py-3 px-4 bg-slate-800 text-white font-semibold rounded-lg hover:bg-slate-900 transition-colors cursor-pointer"
          [disabled]="isLoading()">
          {{ isLoading() ? 'جارٍ التحقق...' : 'تأكيد' }}
        </button>

        <div *ngIf="errorMessage()" class="text-red-500 text-center mt-2">{{ errorMessage() }}</div>

        <div class="text-center mt-4">
          <button type="button" class="w-full py-3 px-4 bg-slate-800 mb-2 text-white font-semibold rounded-lg hover:bg-slate-900 transition-colors cursor-pointer"
            [disabled]="resendDisabled()" (click)="resendOtp()">
            إعادة إرسال الرمز
            <span *ngIf="resendDisabled()" >({{ resendCounter() }})</span>
          </button>
          <button routerLink="/login" type="button"
          class="w-full py-3 px-4 bg-slate-800 text-white font-semibold rounded-lg hover:bg-slate-900 transition-colors cursor-pointer">
          العودة الي تسجيل الدخول
        </button>
        </div>
      </form>
    </div>
  </div>

  <app-left-section-view></app-left-section-view>
</div>