<div class="min-h-screen grid grid-cols-1 md:grid-cols-2">
  <div class="flex flex-col items-center justify-center p-6 sm:p-20 bg-slate-50">
    <div class="w-full max-w-md">
      <h1 class="text-3xl font-bold text-slate-800">أنشئ حسابك</h1>
      <p class="text-slate-500 mt-2 mb-6">مرحباً بك! الرجاء إدخال بياناتك.</p>

      <!-- Alert عام -->

      <form class="space-y-4" [formGroup]="registerForm" (ngSubmit)="onSubmit()">

        <!-- Name -->

        <div>
          <label class="block mb-1.5 font-medium">الاسم</label>
          <input type="text" formControlName="name" class="w-full px-4 py-2.5 border rounded-lg"
            [class.border-red-500]="f['name'].invalid && f['name'].touched" >
          @if (f['name'].touched && f['name'].errors) {
          <div
            class="flex items-center p-2 my-1 text-sm text-red-800 rounded-lg bg-red-100  border border-red-200 transition-opacity"
            role="alert">
            <svg class="shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
              fill="currentColor" viewBox="0 0 20 20">
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
            </svg>
            <span class="sr-only">Info</span>
            <div>
              <span class="font-medium"> الاسم مطلوب
              </span>
            </div>
          </div>
          }
        </div>

        <!-- Email -->
        <div>
          <label class="block mb-1.5 font-medium">البريد الإلكتروني</label>
          <input type="email" formControlName="email" class="w-full px-4 py-2.5 border rounded-lg"
            [class.border-red-500]="f['email'].invalid && f['email'].touched">
          @if (f['email'].touched && f['email'].errors) {
          @if (f['email'].errors['required'] && f['email'].touched) {
          <div
            class="flex items-center p-2 my-1 text-sm text-red-800 rounded-lg bg-red-100  border border-red-200 transition-opacity"
            role="alert">
            <svg class="shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
              fill="currentColor" viewBox="0 0 20 20">
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
            </svg>
            <span class="sr-only">Info</span>
            <div>
              <span class="font-medium"> البريد الإلكتروني مطلوب
              </span>
            </div>
          </div>
          }
          @if (f['email'].errors['email']) {
          <div
            class="flex items-center p-2 my-1 text-sm text-red-800 rounded-lg bg-red-100  border border-red-200 transition-opacity"
            role="alert">
            <svg class="shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
              fill="currentColor" viewBox="0 0 20 20">
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
            </svg>
            <span class="sr-only">Info</span>
            <div>
              <span class="font-medium"> صيغة البريد الإلكتروني غير صحيحة
              </span>
            </div>
          </div> }

          @if (f['email'].errors['minlength'] ) {
          <div
            class="flex items-center p-2 my-1 text-sm text-red-800 rounded-lg bg-red-100  border border-red-200 transition-opacity"
            role="alert">
            <svg class="shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
              fill="currentColor" viewBox="0 0 20 20">
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
            </svg>
            <span class="sr-only">Info</span>
            <div>
              <span class="font-medium">
                البريد الالكترونى يجب ألا يقل عن 5 أحرف ولا تزيد عن 50
              </span>
            </div>
          </div>
          }

          @if (f['email'].errors['maxlength'] ) {
          <div
            class="flex items-center p-2 my-1 text-sm text-red-800 rounded-lg bg-red-100  border border-red-200 transition-opacity"
            role="alert">
            <svg class="shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
              fill="currentColor" viewBox="0 0 20 20">
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
            </svg>
            <span class="sr-only">Info</span>
            <div>
              <span class="font-medium">
                البريد الالكترونى يجب ألا يقل عن 5 أحرف ولا تزيد عن 50
              </span>
            </div>
          </div>
          }
          @if (f['email'].errors['pattern'] ) {
          <div
            class="flex items-center p-2 my-1 text-sm text-red-800 rounded-lg bg-red-100  border border-red-200 transition-opacity"
            role="alert">
            <svg class="shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
              fill="currentColor" viewBox="0 0 20 20">
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
            </svg>
            <span class="sr-only">Info</span>
            <div>
              <span class="font-medium">
                الإيميل غير صالح. يجب أن يبدأ بحرف، ولا يحتوي على نقطتين متتاليتين، ويحتوي على  &#64; ودومين صحيح </span>
            </div>
          </div>
          }
          }
        </div>


        <!-- Password -->
        <div class="relative">
          <div class="relative">
            <label class="block mb-1.5 font-medium">كلمة المرور</label>
            <input [type]="showPassword() ? 'text' : 'password'" formControlName="password"
              class="w-full px-4 py-2.5 border rounded-lg">

            <!-- زر إظهار / إخفاء كلمة المرور -->
            <button type="button" (click)="showPassword.set(!showPassword())"
                    class="absolute inset-y-0 left-0 px-3 top-7 flex items-center text-slate-500">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                   stroke="currentColor" class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
                <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
              </svg>
            </button>
          </div>


          @if (f['password'].touched && f['password'].errors) {
          @if (f['password'].errors['required'] || f['password'].touched) {
          <div
            class="flex items-center p-2 my-1 text-sm text-red-800 rounded-lg bg-red-100 border border-red-200 transition-opacity"
            role="alert">
            <svg class="shrink-0 inline w-4 h-4 me-3" fill="currentColor" viewBox="0 0 20 20">
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
            </svg>
            <span class="font-medium">كلمة المرور مطلوبة</span>
          </div>
          }
          @if (f['password'].errors['minlength']) {
          <div
            class="flex items-center p-2 my-1 text-sm text-red-800 rounded-lg bg-red-100 border border-red-200 transition-opacity"
            role="alert">
            <span class="font-medium">كلمة المرور يجب أن تكون 8 أحرف على الأقل</span>
          </div>
          }
          @if (f['password'].errors['maxlength']) {
          <div
            class="flex items-center p-2 my-1 text-sm text-red-800 rounded-lg bg-red-100 border border-red-200 transition-opacity"
            role="alert">
            <span class="font-medium">كلمة المرور يجب أن لا يزيد عن 64 أحرف</span>
          </div>
          }
          @if (f['password'].errors['pattern']) {
          <div
            class="flex items-center p-2 my-1 text-sm text-red-800 rounded-lg bg-red-100 border border-red-200 transition-opacity"
            role="alert">
            <span class="font-medium">كلمة المرور يجب أن تحتوي على حرف كبير وحرف صغير ورقم ورمز خاص</span>
          </div>
          }
          }
        </div>

        <!-- Confirm Password -->
        <div class="relative">
          <div class="relative">
             <label class="block mb-1.5 font-medium">تأكيد كلمة المرور</label>
          <input [type]="showConfirmPassword() ? 'text' : 'password'" formControlName="confirmPassword"
                  autocomplete="new-password"
            class="w-full px-4 py-2.5 border rounded-lg">

          <!-- زر إظهار / إخفاء confirm password -->
          <button type="button" (click)="showConfirmPassword.set(!showConfirmPassword())"
            class="absolute inset-y-0 left-0 px-3 top-7 flex items-center text-slate-500">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-5 h-5">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
              <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
            </svg>
          </button>
          </div>


          @if (f['confirmPassword'].touched && f['confirmPassword'].errors) {
          <div
            class="flex items-center p-2 my-1 text-sm text-red-800 rounded-lg bg-red-100 border border-red-200 transition-opacity"
            role="alert">
            <span class="font-medium">تأكيد كلمة المرور مطلوب</span>
          </div>
          }
          @if (registerForm.errors?.['passwordMismatch'] && f['confirmPassword'].touched) {
          <div
            class="flex items-center p-2 my-1 text-sm text-red-800 rounded-lg bg-red-100 border border-red-200 transition-opacity"
            role="alert">
            <span class="font-medium">كلمتا المرور غير متطابقتين</span>
          </div>
          }
        </div>


        <!-- Persona -->
        <div class="grid grid-cols-2 gap-3">
          <button type="button" (click)="selectPersona('individual')"
            class="flex items-center p-3 border-2 rounded-lg transition-all"
            [class.border-emerald-500]="f['persona'].value === 'individual'"
            [class.bg-emerald-50]="f['persona'].value === 'individual'">
            <div class="ms-3">
              <h2 class="font-semibold text-sm">فرد</h2>
            </div>
          </button>

          <button type="button" (click)="selectPersona('company')"
            class="flex items-center p-3 border-2 rounded-lg transition-all"
            [class.border-emerald-500]="f['persona'].value === 'company'"
            [class.bg-emerald-50]="f['persona'].value === 'company'">
            <div class="ms-3">
              <h2 class="font-semibold text-sm">شركة</h2>
            </div>
          </button>
        </div>

        <!-- Company Type -->
        @if (f['persona'].value === 'company') {
        <div class="mt-3 p-3 bg-slate-100 border rounded-lg animate-fade-in">
          <label class="font-medium text-sm mb-2 block">اختر نوع الشركة:</label>

          <div class="grid grid-cols-2 gap-3">
            <button type="button" (click)="selectCompanyType('company-software')"
              class="flex items-center p-3 border-2 rounded-lg bg-white"
              [class.border-emerald-500]="getCompanyType() === 'company-software'"
              [class.bg-emerald-50]="getCompanyType() === 'company-software'">
              <div class="ms-3">
                <h2 class="font-semibold text-sm">شركة برمجيات</h2>
              </div>
            </button>

            <button type="button" (click)="selectCompanyType('company')"
              class="flex items-center p-3 border-2 rounded-lg bg-white"
              [class.border-emerald-500]="getCompanyType() === 'company'"
              [class.bg-emerald-50]="getCompanyType() === 'company'">
              <div class="ms-3">
                <h2 class="font-semibold text-sm">شركة أخرى</h2>
              </div>
            </button>
          </div>
        </div>
        }



        <!-- Submit -->
        <button type="submit" class="w-full cursor-pointer bg-slate-800 text-white py-3 rounded-lg"
          [disabled]="isLoading() || registerForm.invalid">
          {{ isLoading() ? 'جاري إنشاء الحساب...' : 'إنشاء حساب' }}
        </button>

      </form>

      <p class="text-center text-sm text-slate-500 mt-6">
        هل لديك حساب بالفعل؟
        <button routerLink="/login" class="font-semibold text-emerald-600 hover:underline">تسجيل الدخول</button>
      </p>
    </div>
  </div>

  <!-- Right Column (illustration) -->
  <app-left-section-view></app-left-section-view>
</div>
